<div class="grid_layout">
  <div class="left_grid">
      <div class="hotbeverages">
         <div class="titlebox">
            HOT BEVERAGES
            
         </div>
         <table class="table_hotbeverages centered">    
            <tbody>
              <tr>
                <td>{{item1}}</td>
                <td>{{price1}}</td>
              </tr>
              <tr>
                  <td>{{item2}}</td>
                  <td>{{price2}}</td>
                </tr>
              <tr>
                <td>{{item3}}</td>
                <td>{{price3}}</td>
              </tr>
              <tr>
                  <td>{{item4}}</td>
                  <td>{{price4}}</td>
              </tr>
                 
            </tbody>
          </table>
       </div>
      <div class="coldbeverages">
          <div class="titlebox">
              COLD BEVERAGES
              
           </div>
           <table class="table_hotbeverages centered">
      
              <tbody>
                <tr>
                  <td>{{item5}}</td>
                  <td>{{price5}}</td>
                </tr>
                <tr>
                    <td>{{item6}}</td>
                    <td>{{price6}}</td>
                  </tr>
                <tr>
                  <td>{{item7}}</td>
                  <td>{{price7}}</td>
                </tr>
                <tr>
                    <td>{{item8}}</td>
                    <td>{{price8}}</td>
                </tr>
                <tr>
                    <td>{{item9}}</td>
                    <td>{{price9}}</td>
                </tr>
                <tr>
                    <td>{{item10}}</td>
                    <td>{{price10}}</td>
                </tr>
                   
              </tbody>
            </table>
        </div>
  </div>
 
  <div class="foodandsnacks">
      <div class="titlebox">
          FOOD & SNACKS
          
       </div>
       <table class="table_hotbeverages centered">
  
          <tbody>
            <tr>
              <td>{{item11}}</td>
              <td>{{price11}}</td>
            </tr>
            <tr>
                <td>{{item12}}</td>
                <td>{{price12}}</td>
              </tr>
            <tr>
              <td>{{item13}}</td>
              <td>{{price13}}</td>
            </tr>
            <tr>
                <td>{{item14}}</td>
                <td>{{price14}}</td>
            </tr>
            <tr>
                <td>{{item15}}</td>
                <td>{{price15}}</td>
            </tr>
            <tr>
                <td>{{item16}}</td>
                <td>{{price16}}</td>
            </tr>
            <tr>
                <td>{{item17}}</td>
                <td>{{price17}}</td>
            </tr>
            <tr>
                <td>{{item18}}</td>
                <td>{{price18}}</td>
            </tr>
            <tr>
                <td>{{item19}}</td>
                <td>{{price19}}</td>
            </tr>
            <tr>
                <td>{{item20}}</td>
                <td>{{price20}}</td>
            </tr>
            <tr>
                <td>{{item21}}</td>
                <td>{{price21}}</td>
            </tr>
               
          </tbody>
        </table>
  </div>

</div>

  
