<div *ngIf="submitted" id="overlay_loading">

    <div id="gifspinner" class="preloader-wrapper big active">
         <div class="spinner-layer spinner-blue">
         <div class="circle-clipper left">
           <div class="circle"></div>
         </div><div class="gap-patch">
           <div class="circle"></div>
         </div><div class="circle-clipper right">
           <div class="circle"></div>
         </div>
       </div>
    
    </div>
    </div>

<form  id = "formMenuData" name ="formMenuData" #menuData = "ngForm">
  <h3>Hot Beverages</h3>
  <label>item1</label><br>
  <div class="items">
    <input type = "text" name ="item1" id="item1" placeholder="item1" [(ngModel)]="item1"><div class="spacer"></div><input class="grid_item" type = "text" name ="price1" id="price1" placeholder="price1" [(ngModel)]="price1"><br>
  </div>
    
  <label>item2</label><br>
  <div class="items">
    <input type = "text" name ="item2" id="item2" placeholder="item2" [(ngModel)]="item2"><div class="spacer"></div><input type = "text" name ="price2" id="price2" placeholder="price2" [(ngModel)]="price2"><br>
  </div>
  <label>item3</label><br>
  <div class="items">
    <input type = "text" name ="item3" id="item3" placeholder="item3" [(ngModel)]="item3"><div class="spacer"></div><input type = "text" name ="price3" id="price3" placeholder="price3" [(ngModel)]="price3"><br>
  </div>
  <label>item4</label><br>
  <div class="items">
    <input type = "text" name ="item4" id="item4" placeholder="item4" [(ngModel)]="item4"><div class="spacer"></div><input type = "text" name ="price4" id="price4" placeholder="price4" [(ngModel)]="price4"><br>
  </div>

  <label>item5</label><br>
  <div class="items">
    <input type = "text" name ="item5" id="item5" placeholder="item5" [(ngModel)]="item5"><div class="spacer"></div><input type = "text" name ="price5" id="price5" placeholder="price5" [(ngModel)]="price5"><br>
  </div>
  <h3>Cold Beverages</h3>
  <label>item1</label><br>
  <div class="items">
    <input type = "text" name ="item6" id="item6" placeholder="item6" [(ngModel)]="item6"><div class="spacer"></div><input type = "text" name ="price6" id="price6" placeholder="price6" [(ngModel)]="price6"><br>
  </div>
  <label>item2</label><br>
  <div class="items">
    <input type = "text" name ="item7" id="item7" placeholder="item7" [(ngModel)]="item7"><div class="spacer"></div><input type = "text" name ="price7" id="price7" placeholder="price7" [(ngModel)]="price7"><br>
  </div>
  <label>item3</label><br>
  <div class="items">
    <input type = "text" name ="item8" id="item8" placeholder="item8" [(ngModel)]="item8"><div class="spacer"></div><input type = "text" name ="price8" id="price8" placeholder="price8" [(ngModel)]="price8"><br>
  </div>
  <label>item4</label><br>
  <div class="items">
    <input type = "text" name ="item9" id="item9" placeholder="item9" [(ngModel)]="item9"><div class="spacer"></div><input type = "text" name ="price9" id="price9" placeholder="price9" [(ngModel)]="price9"><br>
  </div>
  <label>item5</label><br>
  <div class="items">
    <input type = "text" name ="item10" id="item10" placeholder="item10" [(ngModel)]="item10"><div class="spacer"></div><input type = "text" name ="price10" id="price10" placeholder="price10" [(ngModel)]="price10"><br>
  </div>
    <h3>Food and Snacks</h3>
  <label>item1</label><br>
  <div class="items">
    <input type = "text" name ="item11" id="item11" placeholder="item11" [(ngModel)]="item11"><div class="spacer"></div><input type = "text" name ="price11" id="price11" placeholder="price11" [(ngModel)]="price11"><br>
  </div>
  <label>item2</label><br>
  <div class="items">
    <input type = "text" name ="item12" id="item12" placeholder="item12" [(ngModel)]="item12"><div class="spacer"></div><input type = "text" name ="price12" id="price12" placeholder="price12" [(ngModel)]="price12"><br>
  </div>
  <label>item3</label><br>
  <div class="items">
    <input type = "text" name ="item13" id="item13" placeholder="item13" [(ngModel)]="item13"><div class="spacer"></div><input type = "text" name ="price13" id="price13" placeholder="price13" [(ngModel)]="price13"><br>
  </div>
  <label>item4</label><br>
  <div class="items">
    <input type = "text" name ="item14" id="item14" placeholder="item14" [(ngModel)]="item14"><div class="spacer"></div><input type = "text" name ="price14" id="price14" placeholder="price14" [(ngModel)]="price14"><br>
  </div>
  <label>item5</label><br>
  <div class="items">
    <input type = "text" name ="item15" id="item15" placeholder="item15" [(ngModel)]="item15"><div class="spacer"></div><input type = "text" name ="price15" id="price15" placeholder="price15" [(ngModel)]="price15"><br>
  </div>
  <label>item6</label><br>
  <div class="items">
    <input type = "text" name ="item16" id="item16" placeholder="item16" [(ngModel)]="item16"><div class="spacer"></div><input type = "text" name ="price16" id="price16" placeholder="price16" [(ngModel)]="price16"><br>
  </div>
  <label>item7</label><br>
  <div class="items">
    <input type = "text" name ="item17" id="item17" placeholder="item17" [(ngModel)]="item17"><div class="spacer"></div><input type = "text" name ="price17" id="price17" placeholder="price17" [(ngModel)]="price17"><br>
  </div>
  <label>item8</label><br>
  <div class="items">
    <input type = "text" name ="item18" id="item18" placeholder="item18" [(ngModel)]="item18"><div class="spacer"></div><input type = "text" name ="price18" id="price18" placeholder="price18" [(ngModel)]="price18"><br>
  </div>
  <label>item9</label><br>
  <div class="items">
    <input type = "text" name ="item19" id="item19" placeholder="item19" [(ngModel)]="item19"><div class="spacer"></div><input type = "text" name ="price19" id="price19" placeholder="price19" [(ngModel)]="price19"><br>
  </div>
  <label>item10</label><br>
  <div class="items">
    <input type = "text" name ="item20" id="item20" placeholder="item20" [(ngModel)]="item20"><div class="spacer"></div><input type = "text" name ="price20" id="price20" placeholder="price20" [(ngModel)]="price20"><br>
  </div>
  <label>item11</label><br>
  <div class="items">
    <input type = "text" name ="item21" id="item21" placeholder="item21" [(ngModel)]="item21"><div class="spacer"></div><input type = "text" name ="price21" id="price21" placeholder="price21" [(ngModel)]="price21">
  </div>
  <label>item12</label><br>
  <div class="items">
    <input type = "text" name ="item22" id="item22" placeholder="item22" [(ngModel)]="item22"><div class="spacer"></div><input type = "text" name ="price22" id="price22" placeholder="price22" [(ngModel)]="price22">
  </div>
</form>
<br>
<div class="center-align" *ngIf="isLoggednIn"><button mat-raised-button color="primary" (click)="submitmenudata();">Submit</button></div>
<br><br>
